<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mogambo</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
            
        </ul>
       
    </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>