
{% extends "base.html" %}
{% load ratings %}

{%block content %}

<h2>Software </h2>
    <div class="container">
        {% for obj in object_list %}

        <div class="card w-75">
         <div class="card-body">
        <h5 class="card-title"><img src="{{obj.icon.url}}" alt=""height="40"
            width="40" alt >    <a href="{% url 'software:detail' obj.slug %}">{{obj.name}}</a>
            {% if obj.Tag %}
            {% for tag in obj.Tag.all  %}
            <span class="badge badge-pill badge-primary ml-2">{{tag}}</span>

            {% endfor %}
            {% endif %}

            <small class="rounded float-right">

                    {% ratings obj 20 20 read_only %}


            </small> </small> </h5>
        <p class="card-text">{{obj.description|truncatewords:30}}</p>
        </div>
        </div>

        {% endfor %}
    </div>




{% endblock%}
